<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.github</id>
	<name>GitHub Integration</name>
	<description>This plugin provides integration with GitHub via their API. This plugin is intended to be a bridge used by other plugins to communicate with GitHub services.  It introduces record types for GitHub Repositories and Issues.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.6.0</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.github.html</link>
	<image>plugin.png</image>

	<!-- Requirements -->

	<requires>
		<app_version min="8.3" max="8.3.99" />
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="8.3.0" />
	</dependencies>
	
	<!-- Patches -->
	
	<patches>
		<patch version="7.3.0" revision="1" file="patches/7.3.0.php" />
	</patches>

	<!-- Extensions -->

	<extensions>

		<!-- Setup Page Menu Item -->

		<extension point="cerberusweb.ui.page.menu.item">
			<id>wgmgithub.setup.menu.plugins.github</id>
			<name>GitHub</name>
			<class>
				<file>api/App.php</file>
				<name>WgmGitHub_SetupPluginsMenuItem</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="menu_id" value="core.setup.menu.services" />
			</params>
		</extension>
		
		<!-- Setup Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>wgmgithub.setup.github</id>
			<name>Setup Page GitHub Section</name>
			<class>
				<file>api/App.php</file>
				<name>WgmGitHub_SetupSection</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="github" />
			</params>
		</extension>
		
		<!-- Service Providers -->
		
		<extension point="cerb.service.provider">
			<id>wgm.github.service.provider</id>
			<name>GitHub</name>
			<class>
				<file>api/App.php</file>
				<name>ServiceProvider_GitHub</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.app" />
						<data key="cerberusweb.contexts.worker" />
					</value>
				</param>
			</params>
		</extension>
		
	</extensions> 
</plugin>
